/*Reset*/


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

/*Generics*/



body {


    background-color: #78ffd4;
}

header {

    height: 10vh;
    padding: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.controls {
    display: flex;

}

main {

    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*soluzione avanzata*/

/*nelle root*/
:root {

    --cols-per-row: 10;
    /*lo voglio cambiare con js */
}





/*utilities*/

.hidden {



    display: none;
}









/*Logo*/

.logo {

    height: 100%;
    display: flex;
    align-items: center;

}

.logo img {

    height: 40px;
    margin-right: 10px;
}


#play-button {

    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    cursor: pointer;
}


#select-level {

    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;

}


/*Griglia*/

#grid {

    width: 80vh;
    height: 80vh;
    margin: 20px auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;



}


/*le celle verranno generate */


#grid .cell {

    /*
    height: 10%;
    toldo da qui perchè con java posso manipolare queste proprietà css
    width: 10%;*/

    width: calc(100% / var(--cols-per-rows));
    height: calc(100% / var(--cols-per-rows));
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

/*
#grid.normal .cell{

    width: calc(100%/9);
    height: calc(100%/9);

}

/*tutte  le celle figlie di una grid con classe easy-normal-hard
.cell.easy .cell{

    width: 10%;
    height: 10%;

}



.cell.hard .cell{

    width: calc(100%/7);
    height: calc(100%/7);

} 



.cell.clicked {

    color: white;
    background-color: dodgerblue;
}



/*2 opzione 

quando chiamo la creazione della cella posso passare il level*/


/*3 opzione centralizzare con il css */

.cell.clicked {

    color: white;
    background-color: dodgerblue;
}